{% extends "base.html" %}
{% load i18n %}

{% block title %}fatalgram - your personal A.I.{% endblock %}

{% block content %}
  <section class="fatalgram">
    <div class="container">
      <h1 class="fatalgram-heading">Welcome to fatalgram</h1>
      <p class="lead text-muted">
        Ever wondered how Google, Meta & Apple are identifying/tagging persons in your photos? So I thought the best way to
        understand how it works is trying to copy it. This is my try. Fatalgram allows you to:</p>
        <ul class="lead text-muted">
          <li>Upload a photo</li>
          <li>detect faces in photos</li>
          <li>identify persons</li>
        </ul>
        <p class="lead text-muted">
          The used technologies are:
        </p>
        <ul class="lead text-muted">
          <li><a href="https://www.djangoproject.com/">Django</a>, as my web framework</li>
          <li><a href="https://github.com/ageitgey/face_recognition">face recognition</a> as my main part for the photo recongnition</li>
          <li><a href="https://docs.celeryq.dev/en/stable/index.html">Celery</a>, as my task scheduler for async image processing</li>
          <li><a href="https://cookiecutter-django.readthedocs.io/en/latest/index.html">Cookiecutter Django</a>, as my starting template</li>
          <li><a href="https://www.docker.com/">Docker</a>, as my infrastructure base</li>
        </ul>
        <p class="lead text-muted">
          And many more "nifty swifty libraries", which are provided by a great open source community.
        </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
      <div class="container">
          <div class="row">
            {% for person in persons %}
              <div class="col-md-1">
                <a href="?person={{ person.id }}">
                  <img src="{{ person.personencoding_set.all.0.face_thumb.url }}" alt="" class="rounded-circle img-thumbnail" width="75px" height="75px">
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="row infinite-container">
              {% for photo in photos %}
                  <div class="col-md-3 infinite-item">
                      <div class="card mb-4 shadow-sm">
                          <img class="img-thumbnail"  src="{{photo.photo_thumb.url}}"/>
                          <div class="card-body">
                            <h5 class="card-title">{{photo.description}}</h5>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
          {% if photos.has_next %}
            {% if 'person' in request.GET %}
                <a class="infinite-more-link" href="?person={{ request.GET.person }}&page={{ photos.next_page_number }}"></a>
            {% else %}
              <a class="infinite-more-link" href="?page={{ photos.next_page_number }}"></a>
            {% endif %}
            <div class="d-flex justify-content-center" style="display:none;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
          {% endif %}

      </div>
  </div>
  <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',
    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }


    });
  </script>

{% endblock %}
